.navigation
  nav
    ul
      li
        a(href='/') Home
      if locals.authenticated
        li .
          a(href='/logout') Logout
      else
        li .
          a(href='/login') Login
        li .
          a(href='/signup') Signup
      li .
        a(href='/secret') Secret
