include includes/head.pug
include includes/navigation.pug
.container
  h1 Login (olemassa oleville käytäjille)
  form(action='/login' method='post')
    input(type='text' name='username')
    input(type='password' name='password')
    button(type='submit') Log In
