html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: sans-serif;
  color: #555;
}

.navigation ul {
  list-style: none;
  padding: 0;
}
.navigation ul {
  display: flex;
}
.navigation ul li {
  display: flex;
}
